* {
  margin: 0;
  padding: 0;
  font-family: "Pathway Gothic One", sans-serif;
  text-decoration: none;
  list-style: none;
}

* {
  scroll-behavior: smooth;
}

/* .background {
    position: absolute;
    inset: 0;
    background-image: url("Cover.svg");
    background-repeat: no-repeat;
    background-size: cover;
  } */
.background {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      rgba(16, 16, 16, 0) 50%,
      rgba(16, 16, 16, 1) 100%
    ),
    url("Cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #101010;
}

.container {
  width: 100%;
  margin: auto;
}

h1 {
  color: white;
  font-size: 3rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1 {
  color: #fff;
  font-size: 50px;
}

nav .navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar__logo img {
  width: 110px;
}

nav ul li a {
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #db7c00;
  color: black;
  border-radius: 20px;
  font-size: 30px;
}

.hamburger {
  display: none;
}

.hero {
  margin-top: 100px;
  position: relative;
  height: calc(100vh - 100px);
}

.discover {
  position: absolute;
  left: 150px;
  top: 220px;
}

.discover__container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
}

.discover__container h1 {
  font-size: 3rem;
  font-weight: 700;
}

.discover__container h3 {
  margin-top: 20px;
}

.discover__animate {
  overflow: hidden;
}

.letter {
  transform-origin: 0 0;
  display: inline-block;
}

/* .section {
  padding-top: 10px;
  height: 100vh;
} */

.section__container {
  padding-top: 100px;
  height: 70vh;
  width: 90%;
  margin: auto;
}

.tendances {
  background-color: #db7c00;
  color: white;
}

.footer__container {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
}

.footer__links {
  width: 90%;
  margin: 1rem auto 0;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__link--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 350px;
  margin: 1rem;
}

.footer__link--wrapper h2 {
  font-size: 1rem;
  margin-left: 1rem;
  color: #fff;
}

.footer__link h2:hover {
  color: #db7c00;
}

.social__media {
  max-width: 1000px;
  width: 90%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #fff;
  margin-bottom: 16px;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  gap: 20px;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.footer__links a {
  color: #fff;
  margin-top: 1rem;
}

.footer__links a:hover {
  color: #db7c00;
}

@media (max-width: 768px) {
  nav h1 {
    display: none;
  }
  .navbar__logo img {
    width: 80px;
  }
  nav ul li {
    display: none;
  }
  nav .navbar__logo {
    margin-left: 20px;
  }
  .discover {
    position: absolute;
    top: 25%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .discover__container {
    font-size: 1rem;
    text-align: center;
  }
  .discover__container br {
    display: none;
  }
  .discover__container h1 {
    font-size: 2rem;
  }
  .hamburger {
    margin-right: 30px;
    display: block;
    cursor: pointer;
    z-index: 3;
  }
  .hamburger__line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease;
  }
}
.card-wrapper {
  display: flex;
  justify-content: center;
  height: 55vh;
}

.section__container {
  margin-top: 0px;
}

.card {
  background-color: #db7c00;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(255, 127, 7);
  width: 200px;
  padding: 110px;
  margin: 20px;
  text-align: center;
  transition: transform 0.7s;
  font-size: 23px;
}
.card:hover {
  transform: translateY(-10px);
}
.card h2 {
  margin: 0 0 10px;
}
.card p {
  margin: 0;
  font-size: 1.2rem;
}
.btn {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffd700;
  color: black;
}

#carousel {
  width: 100%;
  max-width: 100vw;
  height: 21vh;

  overflow: hidden;
}

.carousel-image {
  height: 30vh;
  max-height: 600px;
  position: absolute;
  left: 50%;
  border-radius: 7%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#carousel-image-0 {
  transform: translateX(-50%) translateX(-120%) scale(0.6);
  filter: brightness(40%);
  z-index: 1;
}

#carousel-image-1 {
  transform: translateX(-50%) translateX(-80%) scale(0.8);
  filter: brightness(65%);
  opacity: 1;
  z-index: 2;
}

#carousel-image-2 {
  transform: translateX(-50%) scale(1);
  filter: brightness(100%);
  opacity: 1;
  z-index: 3;
}

#carousel-image-3 {
  transform: translateX(-50%) translateX(80%) scale(0.8);
  filter: brightness(65%);
  opacity: 1;
  z-index: 2;
}

#carousel-image-4 {
  transform: translateX(-50%) translateX(120%) scale(0.6);
  filter: brightness(40%);
  opacity: 1;
  z-index: 1;
}

#carousel-image-5 {
  transform: translateX(-50%) scale(1.5);
  filter: brightness(40%);
  opacity: 0;
  z-index: 1;
}

/* Forward */
.mv0to5 {
  animation: 2s ease-out mv0to5;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.mv5to4 {
  animation: 2s ease-out mv5to4;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.mv4to3 {
  animation: 2s ease-out mv4to3;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.mv3to2 {
  animation: 2s ease-out mv3to2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.mv2to1 {
  animation: 2s ease-out mv2to1;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.mv1to0 {
  animation: 3s ease-out mv1to0;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* Backward */
.mv0to1 {
  animation: 0.3s ease-out mv0to1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mv1to2 {
  animation: 0.3s ease-out mv1to2;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mv2to3 {
  animation: 0.3s ease-out mv2to3;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mv3to4 {
  animation: 0.3s ease-out mv3to4;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mv4to5 {
  animation: 0.3s ease-out mv4to5;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mv5to0 {
  animation: 0.3s ease-out mv5to0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes mv0to5 {
  0% {
    transform: translateX(-50%) translateX(-120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(0.6);
    filter: brightness(40%);
    opacity: 0;
    z-index: 1;
  }
}
@keyframes mv5to4 {
  0% {
    transform: translateX(-50%) scale(0.6);
    filter: brightness(40%);
    opacity: 0;
    z-index: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateX(120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
}
@keyframes mv4to3 {
  0% {
    transform: translateX(-50%) translateX(120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
  100% {
    transform: translateX(-50%) translateX(80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
}
@keyframes mv3to2 {
  0% {
    transform: translateX(-50%) translateX(80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
  30% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    transform: translateX(-50%) translateX(0%) scale(1);
    filter: brightness(100%);
    opacity: 1;
    z-index: 4;
  }
}
@keyframes mv2to1 {
  0% {
    transform: translateX(-50%) translateX(0%) scale(1);
    filter: brightness(100%);
    opacity: 1;
    z-index: 4;
  }
  100% {
    transform: translateX(-50%) translateX(-80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
}
@keyframes mv1to0 {
  0% {
    transform: translateX(-50%) translateX(-80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
  100% {
    transform: translateX(-50%) translateX(-120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
}

@keyframes mv0to1 {
  0% {
    transform: translateX(-50%) translateX(-120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
  100% {
    transform: translateX(-50%) translateX(-80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
}
@keyframes mv1to2 {
  0% {
    transform: translateX(-50%) translateX(-80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
  30% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    transform: translateX(-50%) translateX(0%) scale(1);
    filter: brightness(100%);
    opacity: 1;
    z-index: 4;
  }
}
@keyframes mv2to3 {
  0% {
    transform: translateX(-50%) translateX(0%) scale(1);
    filter: brightness(100%);
    opacity: 1;
    z-index: 4;
  }
  100% {
    transform: translateX(-50%) translateX(80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
}
@keyframes mv3to4 {
  0% {
    transform: translateX(-50%) translateX(80%) scale(0.8);
    filter: brightness(65%);
    opacity: 1;
    z-index: 3;
  }
  100% {
    transform: translateX(-50%) translateX(120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
}
@keyframes mv4to5 {
  0% {
    transform: translateX(-50%) translateX(120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(0.6);
    filter: brightness(40%);
    opacity: 0;
    z-index: 1;
  }
}
@keyframes mv5to0 {
  0% {
    transform: translateX(-50%) scale(0.6);
    filter: brightness(40%);
    opacity: 0;
    z-index: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateX(-120%) scale(0.6);
    filter: brightness(40%);
    opacity: 1;
    z-index: 2;
  }
}

.section__container,
.writte {
  color: white;
  font-size: 2.2rem;
}
